<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
          <form id="login-form" #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
            <span style="color: red;" *ngIf="submitted && error?.code == 1 && !loginForm.controls.email.hasError('required')">{{error.message}}</span>
            <div class="form-group">
              <input class="form-control" type="text" formControlName="email" placeholder="Email">
              <span style="color: red;" *ngIf="submitted && loginForm.controls.email.hasError('required')">Field is mandatory</span>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" formControlName="password" placeholder="Password">
              <span style="color: red;" *ngIf="submitted && loginForm.controls.password.hasError('required')">Field is mandatory</span>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <input type="submit" form="login-form" class="form-control btn btn-success" value="Ingresar">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">Registro</div>
        <div class="panel-body">
          <form id="signin-form" #lForm="ngForm" [formGroup]="signinForm" (ngSubmit)="signin()" novalidate>
            <div class="form-group">
              <input class="form-control" type="text" formControlName="document_type" placeholder="Document Type">
              <span style="color: red;" *ngIf="submittedSignin && signinForm.controls.document_type.hasError('required')">Field is mandatory</span>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" formControlName="document_number" placeholder="Document Number">
              <span style="color: red;" *ngIf="submittedSignin && signinForm.controls.document_number.hasError('required')">Field is mandatory</span>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" formControlName="name" placeholder="Name">
                <span style="color: red;" *ngIf="submittedSignin && signinForm.controls.name.hasError('required')">Field is mandatory</span>
              </div>
            <div class="form-group">
              <input class="form-control" type="text" formControlName="email" placeholder="Email">
              <span style="color: red;" *ngIf="submittedSignin && signinForm.controls.email.hasError('required')">Field is mandatory</span>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" formControlName="password" placeholder="Password">
              <span style="color: red;" *ngIf="submittedSignin && signinForm.controls.password.hasError('required')">Field is mandatory</span>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <input type="submit" form="signin-form" class="form-control btn btn-success" value="Registrar">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


