<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Subir archivo</div>
                <div class="panel-body">
                    <form id="file-form" #lForm="ngForm" [formGroup]="fileForm" (ngSubmit)="submitFile()" novalidate>
                        <div class="form-group">
                            <div class="form-group">
                                <input class="form-control" type="file" formControlName="file">
                                <span style="color: red;" *ngIf="fileForm.controls.file.hasError('required')">File is mandatory</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit" form="file-form" class="form-control btn btn-success" value="Subir archivo">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


